main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input#idNewTodo {
  width: 50%;
  text-align: center;
}

button {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 5%;
}

label {
  font-size: 2em;
}
