input {
  margin-left: 2%;
}

.myTodo {
  margin: auto;
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

#myButtons {
  display: flex;
  justify-content: space-between;
  width: 15%;;
}

.strikedText {
  text-decoration-line: line-through;
}

.fas, .far {
  cursor: pointer;
}
